nav {
font-size: 20px;
text-align: center;
font-family: monospace;
border-style: ridge;
}

nav a{
text-decoration: none;
color: white;
}

body {
background-color: black;
}

.Title_First_Page{
  color: rgb(50, 117, 196);
  font-size: 75px;
  text-align: center;
  font-family: sans-serif;
}

.Synopsis{
  color: rgb(50, 117, 196);
  font-size: 25px;
  text-align: center;
  font-family: monospace;
}

.Description_of_the_Film {
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
}

video {
width: 50%;
display: block;
margin: 0 auto;

}

.Fallback {
 color: white;
 font-size: 18px;
 text-align: center;
 font-family: sans-serif;

}

.Title_Second_Page{
 color: rgb(50, 117, 196);
 font-size: 75px;
 text-align: center;
 font-family: sans-serif;
}

.Container{
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.Paragraphs{
color: white;
font-size: 18px;
text-align: justify;
font-family: sans-serif;
margin-left: inherit;
padding-left: 20px;

}

.Audio{
display: block;
margin-top: auto;
padding-top: 20px;
}

.IMDB {
text-align: center;
font-family: monospace;
font-size: 20px;
}

.IMDB a {
  text-decoration: none;
  color: white;
}

.Student_Number {
  color: rgb(50, 117, 196);
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  border-style: ridge;
  border-color: White;
}
